:root {
  --font-DelaGothicOne: 'Dela Gothic One', cursive;
  --font-SpaceMono: 'Space Mono', monospace;

  --color-background: #d3d3d3;
  --color-input-focus: #fff;
  --color-font: #323232;
  --color-font-sub: #666;
  --color-bg: #fff;
  --color-main: #323232;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  background-color: red;
  color: rgb(255, 255, 255);
  border: none;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton:active {
  background-color: rgb(206, 0, 0);
  transform: translate(1px, 3px);
}

.containerResendCode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonResend {
  outline: none;
  border: none;
  background-color: var(--color-background);
  font-family: var(--font-SpaceMono);
  color: var(--color-font-sub);
  font-weight: 900;
  font-size: 17px;
  cursor: pointer;
}

.buttonResend:disabled {
  background-color: var(--color-background);
  color: var(--color-font-sub);
  cursor: not-allowed;
}

.form {
    padding: 20px;
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: var(--color-font);
    background-color: var(--color-background);
    border-radius: 8px;
    border: 2px solid var(--color-main);
    box-shadow: 4px 4px var(--color-main);
    gap: 20px;
}

.form > p {
  font-family: var(--font-DelaGothicOne);
  color: var(--color-font);
  font-weight: 900;
  font-size: 25px;
  margin-bottom: -10px;
}

.form > span {
  font-family: var(--font-SpaceMono);
  color: var(--color-font-sub);
  font-weight: 600;
  font-size: 17px;
}
/*----input-fields------*/
  
.form .inputFields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem;
}
  
.form .inputFields input {
  height: 55px;
  width: 55px;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-font);
  border-radius: 5px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-main);
  box-shadow: 4px 4px var(--color-main);
  transition: all 0.3s ease;
}

.form .inputFields input:focus {
    box-shadow: 0px 0px var(--color-main);
    transform: translate(3px, 3px);
}

.loaderResendCode {
  border: 2px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
