:root {
    --font-DelaGothicOne: 'Dela Gothic One', cursive;
    --font-SpaceMono: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #f5f5f5;
}

.form {
    --background: #d3d3d3;
    --input-focus: #fff;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--background);
    border-radius: 8px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    gap: 20px;
}

.form > p {
  font-family: var(--font-DelaGothicOne);
  color: var(--font-color);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: -10px;
}

.form > span {
  font-family: var(--font-SpaceMono);
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}
/*----input-fields------*/
  
.form .inputFields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem;
}
  
.form .inputFields input {
  height: 55px;
  width: 55px;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  transition: all 0.3s ease;
}

.form .inputFields input:focus {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}